<!DOCTYPE html>
<html lang="pt-br" ng-app="ux" ng-controller="uxCtrl">

<head>
    <meta charset="utf-8" />

    <title></title>

    <style>
        @import "node_modules/w3-css/3/w3.css";
        @import "css/estilo.css";
    </style>

    <script src="js/lorem-ipsum-js/src/lorem-ipsum.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/escript.js"></script>
</head>
<body>
    <main class="w3-container w3-cell-row">
        <section class="w3-border-right w3-mobile w3-cell">
            <h1 class="w3-center">{{titulo}}</h1>
            <h2 class="w3-center">{{subtitulo}}</h2>
        </section>
        <section class="w3-mobile w3-cell">
            <div class="w3-bar-block">
                <button class="w3-bar-item w3-btn w3-teal"  ng-click="abrir('comida')">Food</button>
                <button class="w3-bar-item  w3-btn w3-teal" ng-click="abrir('servicos')">Services</button>
                <button class="w3-bar-item  w3-btn w3-teal" ng-click="abrir('recepcao')">Reception</button>
            </div>
            <article id="comida" class="sem-display"><h3 class="w3-center">Food</h3>
            
            
            <div ng-repeat="comida in comidas">
                <img src="{{comida.imagem}}" alt="cu">
                <h3 class="w3-center">{{comida.tipo}}</h3>
                <p class="w3-text-red w3-right">{{comida.preco}}</p>
            </div>
            </article>
            <article id="servicos" class="sem-display"><h3 class="w3-center">Services</h3></article>
            <article id="recepcao" class="sem-display">
                <h3 class="w3-center">Reception</h3>
                <div class="w3-container w3-panel w3-display-content">
                    <span class="w3-btn w3-display-topright">&times;</span>
                    <div class="w3-panel w3-container w3-right">  <input type="submit" value="Video Call" class="w3-btn w3-teal">
                        <input type="submit" value="Audio Call" class="w3-btn w3-teal"></div>
                    <div class="w3-panel w3-margin w3-padding-16">&nbsp;</div>

                    <div class="w3-panel w3-container"><input type="text" name="" class="w3-input w3-border" placeholder="Enter your message:"></div>
                    <div class="w3-panel w3-container w3-right">
                      
                        <input type="submit" value="Submit" class="w3-btn w3-teal">
                    
                    </div>

                </div>
            </article>
        </section>
    </main>
</body>
</html>
